@{
    ViewData["Title"] = "DetailProduct";
    Layout = "MyLayout";
    
}
@model BOOK_STORE_DEMO.Dtos.Response.CartResponse
<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="p-2">
                <h4>Shopping cart</h4>
                       
            </div>
            @foreach (var i in Model.CartItems)
            {
                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                    <div class="mr-1"><img class="rounded" src="~/Upload/images/@i.Book?.ImageCover" width="70"></div>
                    <div class="d-flex flex-column align-items-center product-details"><span class="font-weight-bold">@i.Book?.Name</span>
                               
                    </div>
                    <div class="d-flex flex-row align-items-center qty">
                        @if (@i.Quantity == 1)
                        {
                            <a asp-action="DeleteCartItem" asp-controller="CartItem" asp-route-id="@i.Id">
                                <i class="fa fa-minus text-danger"></i>
                            </a>
                        }
                        else
                        {
                            <a asp-action="UpdateQuantityDown" asp-controller="CartItem" asp-route-id="@i.Id">
                                <i class="fa fa-minus text-danger"></i>
                            </a>
                        }
                              
                        <h5 class="text-grey mt-1 mr-1 ml-1">@i.Quantity</h5>
                        <a asp-action="UpdateQuantityUp" asp-controller="CartItem" asp-route-id="@i.Id">
                            <i class="fa fa-plus text-success"></i>
                        </a>

                    </div>
                           
                    <div>
                        <h5 class="text-grey">$@((decimal)(i.Book?.Price??0) *i.Quantity)</h5>
                                
                    </div>
                    <div class="d-flex align-items-center">
                        <a asp-action="DeleteCartItem" asp-controller="CartItem" asp-route-id="@i.Id">
                            <i class="fa fa-trash mb-1 text-danger"></i>
                        </a> 
                                
                    </div>
                </div>
                       
            }
                   
            <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">Total: $@Model.Total</div>
            <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded"><a asp-controller="Cart" asp-action="Pay" asp-route-id="@Model.Id" class="btn btn-warning btn-block btn-lg ml-2 pay-button" type="button">Proceed to Pay</a></div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
          var message = '@TempData["Message"]' || '';
       		
               if (message) {
                  alert(message)
                  @TempData.Remove("Message");
               }
    </script>
    
}



