
@{
    ViewData["Title"] = "DetailProduct";
    Layout = "MyLayout";
}
@model Book
<div class="container">
    <div class="row">
        
    </div>
    <div class="row detail-product">
        <div class="col-md-6 product-image">
            <img class="img-custom" src="~/Upload/images/@Model.ImageCover" />
        </div>

        <div class="col-md-6 product-info">
            <h1>Think and Grow Rich</h1>
            <p>Owned by <span>Napoleon Hill</span></p>
            <p class="description">
                Clay Nation is a collection of 10k digital characters with algorithmically assembled, handcrafted clay traits.
                Each is a 1-of-a kind NFT, stored on the Cardano blockchain. Clay Nation is collaborating with industry leaders and developing an expansive social, festival environment; the Clayverse.
            </p>
            <p>Category: <span>Self-help</span></p>
            <p>Publisher: <span>Napoleon Hill</span></p>
            <p>Publish Date: <span>N10/5/2023 6:26:00 AM</span></p>

            <a asp-action="CreateCartItem" asp-route-bookId="@Model.Id" asp-controller="CartItem" class="addToCart" type="button">Add To Cart</a>
        </div>
    </div>
</div>


@section Scripts{
	<script>
        var errorMessage = '@TempData["ErrorMessage"]' || '';
		var successMessage = '@TempData["SuccessMessage"]' || '';
        if (errorMessage) {
           alert(errorMessage)
           @TempData.Remove("ErrorMessage");
        }
		if (successMessage){
			alert(successMessage)
            @TempData.Remove("SuccessMessage");
		}
    </script>
}

