
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Book>
<table class="table" style="">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Publish Date</th>
            <th>Image Cover</th>
            <th>Category</th>
            <th>Created At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book b in Model)
        {
            <tr>
                <td>@b.Id</td>
                <td>
                    <p style="font-size: 16px;margin-bottom: 0;width: 100px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@b.Name</p>
                </td>
                <td>@b.Price</td>
                <td>@b.PublishDate</td>

                <td>
                    <div class="Frame">
                        <img class="ImageBook" src="~/Upload/images/@b.ImageCover" alt="Ảnh bìa" />
                    </div>
                </td>
                <td>@b.Category.Name</td>
                <td>@b.CreatedAt</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Book" asp-action="Edit" asp-route-id="@b.Id" style="margin: 6px; font-size: 14px;padding: 8px 12px; background-color: orange; border-radius: 8px; color:#fff;">Edit</a>
                    <button class="delete-btn1" id="@b.Id" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border: none; font-size: 14px;padding: 6px 9px; background-color: red; border-radius: 8px; color:#fff;" class="btn btn-wrapper">Delete</button>
                </td>
            </tr>

        }
    </tbody>
</table>
