@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@section Index {
    <link rel="stylesheet" href="~/assets/css/vertical-layout-light/read.css" />
}

@model IEnumerable<Book>
@if (Model.Count() > 0)
{
    <h2 style="text-align: center;margin:20px;">Book Management</h2>
    <a asp-controller="Book" asp-action="Create" class="create-btn btn btn-primary" >Create</a>
  <div class="content">
    <table class="table" style="">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Publish Date</th>
                <th>Image Cover</th>
                <th>Category</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Book b in Model)
            {
            <tr>
                <td>@b.Id</td>
                <td>
                        <p style="font-size: 16px;margin-bottom: 0;width: 100px;white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@b.Name</p>
                </td>
                <td>@b.Price</td>
                <td>@b.PublishDate</td>

                <td>
                    <div class="Frame">
                        <img class="ImageBook" src="~/Upload/images/@b.ImageCover" alt="Ảnh bìa" />
                    </div>
                </td>
                <td>@b.Category.Name</td>
                <td>@b.CreatedAt</td>
                <td>
                        <a class="btn btn-warning" asp-controller="Book" asp-action="Edit" asp-route-id="@b.Id" style="margin: 6px; font-size: 14px;padding: 8px 12px; background-color: orange; border-radius: 8px; color:#fff;">Edit</a>
                        <button class="delete-btn1" id="@b.Id" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="border: none; font-size: 14px;padding: 6px 9px; background-color: red; border-radius: 8px; color:#fff;" class="btn btn-wrapper">Delete</button>
                </td>
            </tr>
                
            }
        </tbody>
    </table>
    </div>
    <div class="mt-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.pageNum; i++)
                {
                    <li class="page-item" id="@i"><a class="page-link">@i</a></li>
                }
            </ul>
        </nav>
    </div>
    
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Cảnh báo</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="font-size:18px">
                    Bạn có chắc chắn muốn xóa
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <a asp-controller="" asp-action="" class="btn btn-primary delete-btn2">OK</a>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{
    <script>
        $('.delete-btn1').click(function (e) {
            var id = $(this).attr('id')
            $('.delete-btn2').attr('href', `/Book/Delete/${id}`)
        })
        $('.page-item').click(function (e) {
            var pageIndex = $(this).attr("id")
            $.ajax({
                url:"Paging",
                data: {pageIndex},
                success:function(response){
                    $('.content').html(response);
                }
            })
        })
    </script>
    }
}
else
{
    <a asp-controller="Book" asp-action="Create" class="create-btn btn btn-primary">Create</a>
    <h2>Không có sản phẩm</h2>
}
